# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs and cache
*.log
.cache/

.env.*.local

# nodemon logs
nodemon-debug.log
nodemon-debug.log*

# build output
/build
/dist

# misc
.DS_Store
